html, body{
    padding: 0;
    margin: 0;
  }
  html{
    height: 100%;
  }
  
body {
    background: rgba(114,127,166,0.93) url("../images/matrix.jpg") repeat fixed 0px 0px;
    height: 100%;
}
.container {
    background: rgba(6,100,53,0.93) none repeat fixed 0px 0px;
    border: 5px outset rgba(45,81,102,0.8);
    min-height: 100%;
}

#start {
    color: rgb(0, 0, 0); 
    font-size: 16px; 
    line-height: 16px; 
    padding: 6px; 
    border-radius: 12px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(rgb(6, 100, 53) 0%, rgb(68, 180, 80) 50%, rgb(6, 100, 53) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 5px outset rgba(16, 151, 61, 0.8); 
    display: inline-block;
}
    #start:hover {
        background: #066435; 
    }
    #start:active {
        background: #066435; 
    }


#result {
    position: absolute;
    top: 20%;
    left:0;
    width: 100%;
    text-align: center;    
}

#questPic {
    width: 400px;
}



#answers {
    display: none;
    margin-top: 10%;
    background: #2DC531;
}
.answer {
    min-width: 300px;
}

.answer {
    color: rgb(71, 113, 22); 
    font-size: 16px; 
    line-height: 16px; 
    padding: 6px; 
    border-radius: 12px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(rgb(161, 152, 164) 0%, rgb(203, 200, 200) 50%, rgb(161, 152, 164) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 5px outset rgba(16,151,61,0.8);    
    display: inline-block;
        
}

.answer:hover {
    background: #A198A4; 
}
.answer:active {
    background: #A198A4; 
}